/* Base styles */
@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/general";
@import "base/text";

// components
@import "./components/nav-bar";
@import "./components/home-about-us";
@import "./components/choose-us";
@import "./components/prices";
@import "./components/footer";
@import "./components/banner";
@import "./components/work-example";
@import "./components/contact";
@import "./components/form";
@import "./components/small-banner";

@import "./components/cta";
@import "./components/services";
@import "./components/posts-page";
@import "./components/single";
