html {
  margin-top: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;

  @include view(tablet) {
    // font-size: 16px;
  }
}

.cta-link {
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to bottom, $light-blue, $blue);
  padding: 10px 15px;
  color: white;
  font-weight: 800;
  font-size: 32px;
  text-decoration: none;

  @include view(mobile) {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to bottom,
      lighten($light-blue, 20%),
      lighten($blue, 10%)
    );
  }
}
