@mixin view($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint == small-desktop {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

@mixin container() {
  margin: auto;
  padding-inline: 16px;
  width: 100%;
  max-width: 1360px;

  @include view(tablet) {
    margin-block: 16px;
  }
}
