@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$white: #ffffff;
$black: #1a1717;
$grey: #d9d9d9;
$gold: #bf9456;
$pink: #ffe4e1;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-25: 25px;
$border-radius-circle: 100px;

$box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);

$transition-05: 0.5s ease-in-out;
$transition-03: 0.3s ease-in-out;

$z-index-navigation: 999;
