$white: #ffffff;
$black: #1a1717;
$grey: #d9d9d9;
$gold: #bf9456;
$pink: #ffe4e1;
$brown: #f2e4d2;
$green: #2e7531;
$light-blue: #00c6ff;
$blue: #0072ff;
$dark-grey: #363738;
$purple: #8a56ac;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-25: 25px;
$border-radius-circle: 100px;

$box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);

$transition-05: 0.5s ease-in-out;
$transition-03: 0.3s ease-in-out;

$z-index-navigation: 999;
