@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;900&display=swap');

$white: #ffffff;
$black: #1b1b1b;
$grey: #f9f9f9;
$red: #cf003d;
$lightRed: #fb5385;
$blue: #8cd5ff;
$lightBlue: #e3f5ff;
$darkBlue: #006ba8;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-25: 25px;
$border-radius-circle: 100px;

$box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);

$transition-05: 0.5s ease-in-out;
$transition-03: 0.3s ease-in-out;

$z-index-navigation: 999;