.banner {
  position: relative;
  height: 850px;
  overflow-y: hidden;

  @include view(mobile) {
    height: 600px;
  }

  &__blure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }

  &__text-wrapper {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 8;
    border-radius: 4px;

    padding: 50px;
    width: 40%;

    @include view(desktop) {
      width: 60%;
    }

    @include view(tablet) {
      top: 20%;
      padding: 20px;
      width: 90%;
    }

    @include view(mobile) {
      top: 15%;
    }
  }

  &__heading {
    margin-bottom: 30px;
    color: $white;
    font-weight: bold;
    font-size: 64px;

    @include view(mobile) {
      margin-bottom: 15px;
      font-size: 30px;
    }
  }

  &__subheading {
    margin-bottom: 30px;
    color: $white;
    font-weight: 500;
    font-size: 32px;

    @include view(mobile) {
      font-weight: bold;
      font-size: 24px;
    }
  }

  &__subheading-color {
    color: $blue;
  }

  &__img-wrapper {
    position: relative;
  }

  &__text {
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    font-size: 24px;

    @include view(mobile) {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &__bgc-image {
    width: 100%;
    height: 850px;
    object-fit: cover;
    object-position: 70% 70%;
    @include view(mobile) {
      height: 700px;
      object-position: 90% 90%;
    }
  }

  &__small-image {
    margin-bottom: 40px;
  }
}
