.banner {
  height: 500px;
  overflow-y: hidden;
  position: relative;

  @include view(mobile) {
    height: 300px;
  }

  &__text-wrapper {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 8;

    @include view(mobile) {
      top: 20%;
      left: 5%;
    }
  }

  &__heading {
    color: $gold;
    font-size: 54px;
    font-weight: bold;

    @include view(mobile) {
      font-size: 30px;
    }
  }

  &__subheading {
    font-size: 70px;
    color: $white;
    font-weight: bold;

    @include view(mobile) {
      font-size: 35px;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__bgc-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 70% 70%;
    @include view(mobile) {
      height: 300px;
      object-position: 90% 90%;
    }
  }
}