.contact {
  padding: 200px 0;

  @include view(mobile) {
    padding: 100px 0;
  }

  @include container;

  &__heading {
    position: relative;
    margin-bottom: 150px;
    width: 100%;
    color: $green;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    @include view(mobile) {
      font-size: 24px;
    }

    &::after {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/leaf.webp");
      width: 119px;
      height: 119px;
      content: "";

      @include view(mobile) {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__wrapper {
    display: flex;

    @include view(tablet) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__map-wrapper {
    @include view(mobile) {
      width: 100%;
    }
  }

  &__map {
    border: none;
    width: 100%;
    height: 450px;

    @include view(small-desktop) {
      width: 500px;
      height: 500px;
    }

    @include view(tablet) {
      width: 100%;
      height: 500px;
    }

    @include view(mobile) {
      height: 350px;
    }
  }

  &__text-wrapper {
    width: 40%;

    @include view(tablet) {
      width: 80%;
    }
    @include view(mobile) {
      width: 90%;
    }
  }

  &__text {
    margin-bottom: 50px;
  }

  &__subheading {
    margin-bottom: 10px;
    padding-top: 40px;
    color: $green;
    font-size: 30px;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__link-icon {
    margin-right: 10px;
    width: 25px;
    object-fit: contain;
  }

  & a {
    color: $black;
    text-decoration: none;
  }
}
