.footer {
  background-color: $black;
  padding: 90px 0;
  color: $grey;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container;

    @include view(tablet) {
      row-gap: 40px;
    }
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 23%;

    @include view(tablet) {
      width: 50%;
    }

    @include view(mobile) {
      width: 100%;
    }
  }

  &__link-wrapper {
    display: flex;
    column-gap: 10px;
    margin-bottom: 5px;
  }

  &__link {
    color: $grey;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  &__logo {
    width: 150px;
    height: 84px;
  }

  &__copyright {
    margin: 50px auto;
    text-align: center;
  }
}
