.wpcf7-form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wpcf7-form .ajax-loader {
  display: none !important; /* Hides the spinner */
}

.wpcf7-spinner {
  display: none;
}

.form {
  @include container;

  &__input {
    margin-bottom: 20px;
    border: 2px solid $purple;
    border-radius: 4px;
    padding: 5px 15px;

    @include view(mobile) {
      width: 100%;
    }

    &:focus {
      outline: 2px solid $light-blue;
    }
  }
}
