.home-about {
  color: $black;

  &__wrapper {
    display: flex;
    padding: 200px 0;

    @include container;

    @include view(mobile) {
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    @include view(mobile) {
      width: 100%;
    }
  }

  &__icon-wrapper {
    margin-bottom: 40px;
    width: 90px;
  }

  &__icon {
    width: 100%;
  }

  &__text-wrapper {
    width: 60%;

    @include view(mobile) {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    &::after {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gold;
      width: 70px;
      height: 3px;
      content: "";
    }
  }

  &__img-wrapper {
    width: 80%;

    @include view(mobile) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }
}
