.home {
  overflow: hidden;

  &__hero {
    background-color: $black;
    color: $white;
  }

  &__hero-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    @include container;

    @include view(mobile) {
      flex-direction: column-reverse;
      padding-top: 50px;
    }
  }

  &__hero-img {
    transform: translateX(200px);
    margin-bottom: -4px;
    width: 100%;

    @include view(tablet) {
      transform: translateX(100px);
      height: auto;
    }

    @include view(mobile) {
      transform: translateX(0px);
      height: auto;
    }
  }

  &__hero-text-wrapper {
    position: absolute;
    width: 32%;

    @include view(mobile) {
      position: static;
      margin-top: 50px;
      margin-bottom: 50px;
      width: inherit;
      text-align: center;
    }
  }

  &__hero-heading {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 70px;

    @include view(tablet) {
      font-size: 40px;
    }
    @include view(mobile) {
      margin-bottom: 15px;
      font-size: 30px;
    }
  }

  &__hero-sub-heading {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 35px;

    @include view(tablet) {
      font-size: 20px;
    }
    @include view(mobile) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  &__hero-link {
    display: inline-block;
    transition: 0.2s ease-in-out;
    border: 3px solid $gold;
    padding: 15px 20px;
    color: $gold;
    font-weight: bold;
    font-size: 35px;
    font-family: lato;
    text-decoration: none;

    &:hover {
      scale: 1.1;
      background-color: $gold;
      color: $black;
    }

    @include view(tablet) {
      font-size: 20px;
    }
    @include view(mobile) {
      font-size: 16px;
    }
  }
}
