.home-about {
  color: $black;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 200px 0;

    @include container;

    @include view(mobile) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__tile {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @include view(mobile) {
      flex-direction: column;
    }
  }

  &__text-wrapper {
    width: 50%;
    font-size: 24px;

    @include view(mobile) {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include view(mobile) {
      margin-top: 20px;
      font-size: 18px;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 150px;
    width: 100%;
    color: $green;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    @include view(mobile) {
      font-size: 24px;
    }

    &::after {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/leaf.webp");
      width: 119px;
      height: 119px;
      content: "";

      @include view(mobile) {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__img-wrapper {
    width: 50%;

    @include view(mobile) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
