.top-navigation {
  position: absolute;
  width: 100%;
  @include view(mobile) {
    margin-bottom: 50px;
  }
}

.nav {
  background-color: transparent;
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container;
  }

  &__logo-wrapper {
    z-index: 10;
    width: 150px;

    @include view(mobile) {
      width: 80px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__desktop-nav {
    z-index: 10;
    @include view(tablet) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__link {
    @include view(tablet) {
      margin-bottom: 15px;
    }
  }

  &__link a {
    color: $white;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;

    &:hover {
      border-bottom: $white 2px solid;
    }

    @include view(mobile) {
      display: inline-block;
    }
  }

  &__contact-link {
    border-radius: 4px;
    background: linear-gradient(to bottom, $light-blue, $blue);
    padding: 10px 15px;
  }

  .current-menu-item a {
    font-weight: 800;
  }

  &__mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;

    align-items: center;
    transform: translateY(-100%);
    z-index: 9;
    transition: 1s ease-in-out;
    background-color: $dark-grey;
    padding-top: 150px;
    width: 100%;
    height: 100vh;

    &.active {
      transform: translateY(0);
    }
  }

  &__mobile-show-btn {
    display: none;
    z-index: 9;
    border: none;
    background-image: url("../images/burger-icon.webp");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 25px;
    height: 25px;

    @include view(tablet) {
      display: block;
    }
  }

  &__mobile-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    background-image: url("../images/close.webp");
    background-color: transparent;
    width: 25px;
    height: 25px;
  }

  &__mobile-close-btn-img {
    width: 25px;
    height: 25px;
  }
}
