.blog-posts {
  padding: 300px 0;

  @include container;

  @include view(mobile) {
    padding-top: 150px;
  }

  &__heading {
    margin-bottom: 50px;
    text-align: center;
  }

  &__tile {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    border-radius: 8px;
    padding-bottom: 40px;
    width: 30%;

    @include view(tablet) {
      width: 48%;
    }

    @include view(mobile) {
      width: 100%;
    }
  }

  &__thumbnail {
    width: 100%;
  }

  &__thumbnail img {
    width: 100%;
    height: 300px;
  }

  &__desc {
    width: 90%;
  }

  & a {
    display: block;
    width: 90%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }
}
