.single-post {
  &__wrapper {
    padding-top: 300px;
    @include container;

    @include view(mobile) {
      padding-top: 150px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    text-align: center;
  }

  & p {
    margin-bottom: 20px;
    text-align: start;
  }

  & figure {
    margin-bottom: 20px;
  }
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wp-block-heading {
  margin-bottom: 15px;
  width: 100%;
  text-align: start;
}
