.slider {
  padding: 150px 0;

  @include view(mobile) {
    padding: 100px 0;
  }

  @include container;
  &__heading {
    position: relative;
    margin-bottom: 100px;
    color: $black;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    &::after {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gold;
      width: 70px;
      height: 3px;
      content: "";
    }
  }
}

.swiper {
  width: 55%;
  height: 700px;

  @include view(tablet) {
    width: 80%;
  }

  @include view(mobile) {
    width: 100%;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 18px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
